<section class="section">

  <!-- Title, Date -->
  <%- partial('post-header', {post: post}) %>

  <div class="container">
    <div class="content">

        <!-- Content -->
        <%- post.content %>

        <!-- Tags and Categories links -->
        <%- partial('post-collect', {post: post}) %>

        <!-- Post License -->
        <%- partial('post-license') %>

    </div>
  </div>

</section>
