<div class="section has-text-centered" style="position:relative;margin:3rem 0;color:#ddd;border-bottom:.2em dashed #eee">

  <%- partial('info/tag') %>

  <% if (post.tags && post.tags.length){ %>
    <br>
  <% } %>

  <%- partial('info/category') %>

</div>
