<section class="hero is-fullheight is-black">
    <a href="<%= theme.menu.archives %>" class="hero-body" style="outline-style: none">
        <div class="container has-text-centered">
          <img class="image is-128x128 title is-spaced" src="<% if (theme.image.logo){ %><%= theme.image.logo %><% } %>" style = "margin-left: auto; margin-right: auto;" alt="website logo">
          <h1 class="title is-3" style="color: #eee"> 趙|ZHAO </h1>
        </div>
    </a>
    <div class="hero-foot" style="color: #808080">
      <div class="container has-text-centered" style="color: #808080">
        © <a href="" style="color: #999999 !important"><%= theme.hexo_theme_yin.author %></a> | by <a href="https://github.com/zhao-center/hexo-theme-yin" target="_blank" rel="noopener" style="color: #999999 !important"><%= theme.hexo_theme_yin.title %></a> with ❤
      </div>
    </div>
</section>
